$interface-background-blue-1: #f3f3fd;
$interface-background-pink-3: #ffe8ec;
$interface-inky-inky-5: #f0f0f3;
$interface-inky-inky-10: #e0e0e7;
$interface-inky-inky-20: #cdccd7;
$interface-inky-inky-30: #a09caf;
$main-white: #ffffff;
$main-inky: #312b55;
$main-dark-inky: #10133d;
$main-red: #ff393d;
$main-red-hover: #b53034;